<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.lifepoem.blog.mapper.ArticleTagMapper">

    <resultMap id="BaseResultMap" type="fun.lifepoem.blog.domain.ArticleTag">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="articleId" column="article_id" jdbcType="VARCHAR"/>
        <result property="tagId" column="tag_id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,article_id,tag_id,
        create_time,update_time,del_flag
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from article_tag
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from article_tag
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="fun.lifepoem.blog.domain.ArticleTag"
            useGeneratedKeys="true">
        insert into article_tag
        ( id, article_id, tag_id
        , create_time, update_time, del_flag)
        values ( #{id,jdbcType=VARCHAR}, #{articleId,jdbcType=VARCHAR}, #{tagId,jdbcType=VARCHAR}
               , #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="fun.lifepoem.blog.domain.ArticleTag"
            useGeneratedKeys="true">
        insert into article_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="articleId != null">article_id,</if>
            <if test="tagId != null">tag_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">id = #{id,jdbcType=VARCHAR},</if>
            <if test="articleId != null">article_id = #{articleId,jdbcType=VARCHAR},</if>
            <if test="tagId != null">tag_id = #{tagId,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="delFlag != null">del_flag = #{delFlag,jdbcType=BIT},</if>
        </trim>
    </insert>

    <insert id="insertBatch">
        insert into article_tag
        ( id,article_id,tag_id
        ,create_time,update_time,del_flag
        )
        values
        <foreach collection="articleTags" item="articleTag" separator=",">
            ( #{articleTag.id,jdbcType=VARCHAR}, #{articleTag.articleId,jdbcType=VARCHAR},
            #{articleTag.tagId,jdbcType=VARCHAR}
            , #{articleTag.createTime,jdbcType=TIMESTAMP}, #{articleTag.updateTime,jdbcType=TIMESTAMP},
            #{articleTag.delFlag,jdbcType=BIT})
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="fun.lifepoem.blog.domain.ArticleTag">
        update article_tag
        <set>
            <if test="articleId != null">
                article_id = #{articleId,jdbcType=VARCHAR},
            </if>
            <if test="tagId != null">
                tag_id = #{tagId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="fun.lifepoem.blog.domain.ArticleTag">
        update article_tag
        set article_id  = #{articleId,jdbcType=VARCHAR},
            tag_id      = #{tagId,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            del_flag    = #{delFlag,jdbcType=BIT}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>
