<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.lifepoem.blog.mapper.TagMapper">

    <resultMap id="BaseResultMap" type="fun.lifepoem.blog.domain.Tag">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="tagName" column="tag_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,tag_name,create_time,
        update_time,del_flag
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tag
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectAllTag" resultType="fun.lifepoem.blog.domain.bo.TagAllBO">
        select id, tag_name
        from tag
        where del_flag = 0
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from tag
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="fun.lifepoem.blog.domain.Tag"
            useGeneratedKeys="true">
        insert into tag
        ( id, tag_name, create_time
        , update_time, del_flag)
        values ( #{id,jdbcType=VARCHAR}, #{tagName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
               , #{updateTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="fun.lifepoem.blog.domain.Tag"
            useGeneratedKeys="true">
        insert into tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="tagName != null">tag_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">id = #{id,jdbcType=VARCHAR},</if>
            <if test="tagName != null">tag_name = #{tagName,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="delFlag != null">del_flag = #{delFlag,jdbcType=BIT},</if>
        </trim>
    </insert>

    <insert id="insertBatch">
        insert into tag( id, tag_name, create_time
        , update_time, del_flag)
        values
        <foreach collection="records" item="record" separator=",">
            (#{record.id,jdbcType=VARCHAR}, #{record.tagName,jdbcType=VARCHAR}, #{record.createTime,jdbcType=TIMESTAMP}
            , #{record.updateTime,jdbcType=TIMESTAMP}, #{record.delFlag,jdbcType=BIT})
        </foreach>

    </insert>


    <update id="updateByPrimaryKeySelective" parameterType="fun.lifepoem.blog.domain.Tag">
        update tag
        <set>
            <if test="tagName != null">
                tag_name = #{tagName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="fun.lifepoem.blog.domain.Tag">
        update tag
        set tag_name    = #{tagName,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            del_flag    = #{delFlag,jdbcType=BIT}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>
